header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
   display: flex;
   align-items: center;
   gap: 40px;
   padding: 20px;
   flex-wrap: wrap;

img {
   display: block;
   margin: 30px auto;
   width: 250px;
   max-width: 90%;
   margin-left: 50px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin-left: 80px;
    margin-top: 20px;
}



nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
    border-radius: 10px;
    border: 2px solid #000000;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;    
}

.produtos li:hover h2 {
    font-size: 34px;
}

footer {
    background: url("imagens/Posicionavc.png");
    padding: 20px 0;
    background-color: #BBBBBB;
    text-align: center;
}

.footercontent img{
width: 100px; 
height: auto;   
display: block;
margin: 0 auto 10px auto;
}

.footercontent p {
    font-size: 12px; 
    color: #000000;
    margin: 0;
    }

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}